
.formupdatelistword{
    background-color: var(--bgSoft);



}
.inputWordUpdate,.updateList{
    color: var(--text);
    padding: 30px;
    background-color: teal;

    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
    width: 45%;
    margin: 10px;
}
.ss{

    width: 30%;
    align-items: center;
    background-color: var(--bg);
    height: 5vh;

}
.updateList{
    width: 80%;
    height: 5%;
    background-color: var(--bg);

}
.if-you-may-do{
    width: 40%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}