:root{

  --bg:#c67d10;
  --bgSoft:#905a0a;
  --text:white;
  --textSoft:#b7bac1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* html  {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

    direction: rtl;
    text-align: right;
}
body{
background-color: var(--bg);
color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
