/* .list-word {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .list-word .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  .list-word .MuiButton-root {
    display: flex;
    align-items: center;
  }
  
  .list-word .MuiDataGrid-root {
    border: 1px solid #ddd;
  }
  
  .list-word .MuiDataGrid-columnHeaders {
    background-color: #f5f5f5;
  }
  
  .list-word .MuiIconButton-root {
    color: #5d57c9;
  }
  
  .list-word .MuiIconButton-root:hover {
    color: #3c3b8d;
  }
  
  .list-word .MuiIconButton-root.Mui-disabled {
    color: #ccc;
  }
   */