.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #2c3e50; /* צבע רקע כהה */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logo-image {
    width: 120px; /* גודל התמונה */
    height: 120px; /* גודל התמונה */
    animation: spin infinite 10s linear; /* ההגדרה לסיבוב התמונה */
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); /* סיבוב סביב עצמו */
    }
  }
  
  .logo-text {
    font-size: 18px; /* גודל טקסט */
    color: #ff00ff; /* צבע ורוד מבריק */
    text-shadow: 0 0 5px rgba(255, 0, 255, 0.7); /* אפקט זרחן */
    margin-top: 15px;
    font-family: 'Arial', sans-serif; /* סוג הגופן */
  }
  