/* dash-dashLayout.css */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* מונע גלילה צדית בכל האתר */
  }
  
  .container {
    display: flex;
    height: 100vh; /* הגובה של ה-container הוא 100% מהגובה של המסך */
    overflow: hidden; /* למנוע גלילה חיצונית */
  }
  
  .mane {
    flex: 0 0 auto; /* ה-SideBar לא יגדל או יקטן, והוא יישאר בגודל אוטומטי */
  }
  
  .contemt {
    flex: 1; /* התוכן יתפוס את כל השטח הפנוי שנותר */
    display: flex;
    flex-direction: column; /* התוכן יפרס בצורה עמודית */
    overflow-y: auto; /* לאפשר גלילה למטה */
    overflow-x: hidden; /* למנוע גלילה צדית */
    max-width: 100vw; /* מונע שהתוכן יגדל מעבר לרוחב המסך */
    padding: 20px;
  }
  .nav{
    margin-bottom: 20px;
  }
  .contemt > * {
    flex: 0 1 auto; /* לכל פריט בתוכן, Flex-grow: 0, Flex-shrink: 1, Flex-basis: auto */
  }
  @media (max-width:1000px) {
    .contemt {
      padding: 0 10px; /* מוסיף padding כדי למנוע גלילה צדית במכשירים קטנים */
    }
  }
  


  