/* ExaminerPage.css */
@media print {
    /* הסתרת התוכן בעת הדפסה */
    body {
        background-color: white;
        visibility: hidden;
        color: black;
    }
    .print-content {
        visibility: visible;
    }
}

/* תצוגת התוכן בדפדפן */
.print-content {
    /* visibility: hidden; */
}
