/* ExaminerPage.css */
@media print {
    /* הסתרת התוכן בעת הדפסה */
    body {
        background-color: white;
        visibility: hidden;
        color: black;
        justify-content: center;
        align-items: center;
    }
    .print-button{display: none;}
    .wordSpeaker{display: none;}
    .print-content {
        visibility: visible;
    }
}

/* תצוגת התוכן בדפדפן */
.print-content {
    /* visibility: hidden; */
}
.printIcon{
border-radius: 5px;
    color: var(--text);
    background-color: transparent;
    background-color: var(--bg);
    cursor: pointer;
align-self: center;}
.printIcon:hover{
    color: black;
    
}
