/* .container {
    display: flex;
}

.mane {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    min-height: 100vh;
} 

.contemt {
    flex: 4;
    padding: 20px;
} */


.container {
    display: flex;
}

/* .mane {
    flex: 1;

    padding: 20px;
    min-height: 100vh;
} */

.contemt {
    flex: 4;
    padding: 20px;
}
