.add--word-list{
    display: flex;
   
  }
.list-word{
    width: 50vw;
    padding: 20px;
    border-radius: 10px;

    background-color: var(--bgSoft);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.test-name&date{
    display: flex;
}
.addWordForm{
    position: fixed;
 
    top: 5vh;
left: 0;
z-index: 1;
    /* background-color: var(--bgSoft); */
    padding: 20px;
    border-radius: 10px;
    width: 25vw;
    margin-top: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    
 }


    .addWordForm input,.list-word input{
        background-color: var( --bg);
        color: var(--text);
        padding: 30px;
        background-color: var(--bgSoft);
        color: var(--text);
        border-radius: 5px;
        margin-bottom: 30px;
        width: 45%;
        width: 100%;


    }
    .addWordForm button,.list-word button{
        width: 100%;
        padding: 30px;
        background-color: teal;
        color: var(--text);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .list-word input,.list-word button{
        width: 20%;
        height: 5vh;
        margin: 10px;
        padding: 0;

    }
   .td-addWord{
        background-color: teal;
        border-radius: 10px;
        margin: 2px;
        width: 45%;
    }
   .qq{
    background-color: teal;

height: 5vh;
width: 10vw;  
align-items: center;  }
.wordSpeakerButton{
    color:var(--bg);
    background-color: teal;
    font-size: 300%;
    cursor: pointer;
    cursor:pointer;
}