
.formupdatelistword{
    /* background-color: var(--bgSoft); */
align-content: center;
justify-content: center;

}
.titles{
    display: flex;
    justify-content: space-between;
}
.inputWordUpdate,.updateList,.if-you-may-do,.inputWordUpdate1,.inputWordUpdateSmaller{
    width:30vw;
    margin: 10px;
    margin-bottom: 30px;
    font-size: x-large;
    background-color: var(--bgSort);
    border: solid 2px brown;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    height: 10vh;
}
.inputWordUpdate input,.inputWordUpdateSmaller input{
   border: none;
   background-color: var(--bg);
   font-size: x-large;
text-align: center;
}

.inputWordUpdateSmaller{
    width: 1vw;

}
/* .ss{

    width: 30%;
    align-items: center;
    background-color: var(--bg);
    height: 5vh;

} */
.updateList{
color: red;
cursor: pointer;
    height: 5%;
    background-color: var(--bg);

}
.if-you-may-do{
    /* width: 40%;
    padding: 30px; */
    background-color: teal;
    color: var(--text);
    /* border: none;
    border-radius: 5px; */
    cursor: pointer;
    font-size: smaller;
    align-items: center;}
@media print {
    /* הסתרת התוכן בעת הדפסה */
    .wordSpeakerButton,.if-you-may-do{display: none;}
    .inputWordUpdate input, .inputWordUpdate{
        background-color: white;
    }
   
    .titleListWord{
        display: block;
        border: none; 
       font-weight: bold;
   }
   .dateListWord{
    display: none;
   }
   .inputWordUpdateSmallerEar{
    display: none;
   }
   body{
    align-content: center;
   }
   .updateList{
    display: none;
   }
}
.wordSpeakerButton{
width: 5vh;
height: 5vh;
background-color: var(--bg);
cursor: pointer;
color: brown;}